.container-main {
    display: flex;
    flex-direction: row;
}

.container-img {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color:  var(--color-white2);
    padding: 286px 160px;
}

/* ESTILIZAÇÃO LOGIN  */

.container-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 21.688rem;
    width: 100%;
    margin: 0 auto;
}

.container-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 7px;
    margin-bottom: 39px;
}

.title-span {
    color: var(--color-blue1);
    font-family: var(--font-merriweather);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-h1 {
    color: var(--color-blue1);
    font-family: var(--font-merriweather);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-label {
    color: var(--color-blue1);
    font-family: var(--font-lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 11px;
}

.form-input {
    max-width: 21.875rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-grey1);
    padding: 17px 20px;
    margin-bottom: 11px;
    outline: none;
}

.form-input::placeholder {
    color: var(--color-blue1);
    font-family: var(--font-lato);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-checkbox {
    max-width: 21.875rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.label-checkbox {
    color: var(--color-blue1);
    font-family: var(--font-lato);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.label-checkbox input {
    cursor: pointer;
}

.esqueceu-sua-senha {
    color: var(--color-blue2);
    font-family: var(--font-lato);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all ease-in-out 350ms;
}
.esqueceu-sua-senha:hover {
    color: var(--blue-hover2);
}

/* ESTILIZAÇÃO BTTN */

.container-button {
    display: flex;
    flex-direction: column;
    max-width: 21.688rem;
    width: 100%;
    row-gap: 15px;
    margin-top: 26px;
}

.bttn-entrar, .bttn-google  {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: var(--color-white1);
    font-family: var(--font-lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 350ms;
}

.bttn-entrar {
    background-color: var(--color-green1);
}

.bttn-google {
    background-color: var(--color-blue1);
    column-gap: 11px;
}

.bttn-entrar:hover {
    background-color: var(--green-hover1);
}

.bttn-google:hover {
    background-color: var(--blue-hover1);
}

/* ESTILIZAÇÃO FAÇA SEU CADASTRO */

.span-cadastro {
    margin: 138px auto 0;
    color: var(--color-blue1);
    font-family: var(--font-lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.span-cadastro a {
    color: var(--color-blue2);
    font-family: var(--font-lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all ease-in-out 350ms;
}

.span-cadastro a:hover {
    color: var(--blue-hover2);
}